name: Scheduled Python Script

on:
  schedule:
    - cron: '*/5 * * * *'  # Schedule to run every 15 minutes

jobs:
  run_script:
    runs-on: ubuntu-latest

    env:
      TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
      TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'  # Replace with your Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests telegram matplotlib twilio

      - name: Run Python Script
        run: python liquidation.py  # Replace with your script's filename
